*{
    font-family: "Space Grotesk", sans-serif;
}
:root{
    --myblue : #355592;
}

@media only screen and (max-width:600px) {
    body p{
        font-size: 30px;
    }

    body span{
        font-size: 30px;
    }
}
/*-------------------- header start ------------------------------*/
#stick{
    top: 0;
    width: 100%;
    z-index: 9;
}

.navi{
    display: flex;
    margin-left: 20%;
    margin-right: 20%;
}

.dropbtn {
    background-color: var(--myblue);
    color: white;
    margin-top: 18px;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
  }
  
  .dropdown {
    position: relative;
    display: none;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    right: 0;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  .dropdown-content a:hover {background-color: #f1f1f1;}
  .dropdown:hover .dropdown-content {display: block;}
  .dropdown:hover .dropbtn {background-color: #2a4576;}

header{
    background-image: url(images/hero-man.jpg);
    background-position: center;
}

.headdiv{
    display: flex;
    margin: 0px 150px;
    font-weight: 800;
}

.headlist{
    display: flex;
    list-style-type: none;
}

.headlist a{
    text-decoration: none;
    color: aliceblue;
    margin-right: 30px;
}

.headlist li{
    margin-top: 33px;
}

.join{
    font-weight: bold;
    background-color: coral;
    color: aliceblue;
    padding: 8px;
    border-radius: 10px;
    white-space: nowrap;
    margin-top: 23px;
}

@media only screen and (max-width:600px) {
    .header{
        margin-top: 30px;
    }

    .dropdown{
        display: inline-block;
    }
}

/*-------------------- HEADER END ------------------------------*/
/*--------------------  MIDHEAD START (hero) ----------------------------*/
.hebir{
    width: 0;
}

.heiki{
    white-space: nowrap;
}

.midhead{
    margin-left: 20%;
    margin-right: 20%;
    margin-top: 5%;
}

.powerfull{
    color: aliceblue;
    padding: 7px;
    border-radius: 10px;
    background-color:var(--myblue);
    cursor: default;
    text-decoration: none;
}

.midheadbutton{
    padding-bottom: 3%;
}

.midheadbutton a{
    font-size: 25px;
    padding: 14px;
    margin-left: 2%;
    color: aliceblue;
    text-decoration: none;
    cursor: pointer;
    border-radius: 10px;
}

.sign{
    background-color:var(--myblue);
    font-weight: bold;
}

.details{
    margin-left: 2%;
    border-style: solid;
    border-color: aliceblue;
    border-width: 2px;
    font-weight: bold;
}

.titletext h1{
    font-size: 100px;
    color: aliceblue;
    text-shadow: 4px 4px 2px black;
}

.midhead p{
    padding: 1%;
    font-size: 40px;
    background-color: rgba(0, 0, 0, 0.6);
    color: aliceblue;
}

@media only screen and (max-width:600px) {
    .midhead{
        margin-left: 5%;
        margin-right: 5%;
        margin-top: 15%;
    }
    .powerfull{
        color: aliceblue;
        padding: 10px;
        border-radius: 10px;
        font-size: 30px;
    }

    .midheadbutton{
        display: flex;
        flex-direction: column;
        text-align: left;
    }

    .midheadbutton a{
      padding: 10px 30%;
    }

    .titletext h1{
        white-space: nowrap;
        font-size: 70px;
    }
  }

/*---------------------- MIDHEAD END (hero) ----------------------------*/
/*---------------------- NUMBERS START ---------------------------------*/

.numbers{
    background-color: #dceeff;
}

.numbernodes{
    position: relative;
    margin-left: 15%;
}

.nodes{
    display: inline-block;
    width: 250px;
    height: 200px;
    padding-top: 50px;
    margin: 50px 35px;
    list-style: none;
    text-align: center;
    font-size: 30px;
    background-color: aliceblue;
    border-radius: 10px;
}

.nodes span{
    color: var(--myblue);
    font-weight: bold;
}

.midhead p{
    font-weight: bold;
}

@media only screen and (max-width:1000px) {
    .numbernodes{
        display: flex;
    }

    .nodes{
        width: 60%;
    }
}
/*---------------------- NUMBERS END ---------------------------------*/
/*---------------------- CLASSES START ---------------------------------*/
.classes{
    text-align: center;
}

.classes h2{
    color: var(--myblue);
    font-weight: 700;
    font-size: 40px;
    margin-top: 100px;
    position: relative;
}

.classshadow{
    content: "";
    width: 90%;
    height: 2000%;
    top: -210%;
    left: 20%;
    position: absolute;
    z-index: -1;
    clip-path: polygon(25% 0, 100% 0, 100% 100%, 50% 100%);
    background-color: rgb(71,79,95,0.08)
}

.rodclass{
    background-color: coral;
    font-size: 7px;
    padding: 1px 60px;
    border-radius: 10px;
}

.rodtextclass{
    margin: 60px 500px;
    font-size: 20px;
}

@media only screen and (max-width:1500px) {
    .rodtextclass{
        margin: 60px 200px;
    }
}

@media only screen and (max-width:800px) {
    .rodtextclass{
        margin: 60px 100px;
    }

    .classshadow{
        height: 3200%;
    }
}
/*---------------------- NUMBERS END ---------------------------------*/
/*---------------------- INFO TAB START ---------------------------------*/
.activebuttons{
    display: flex;
    margin-left: 33%;
}

.group{
    background-color: var(--myblue);
}

.solo{
    position: relative;
    background-color: var(--myblue);
}

.stret{
    background-color: var(--myblue);
}

.yoga{
    position: relative;
    background-color: coral;
    box-shadow: 5px 5px 20px coral;
}

.activebuttons a{
    font-size: 40px;
    padding: 10px 10px;
    border-radius: 10px;
    text-decoration: none;
    color: aliceblue;
    margin: 10px 10px;
    cursor: pointer;
}

.triClasses1{
    content: "";
    clip-path: polygon(0 0, 50% 100%, 100% 0);
    width: 30px;
    height: 30px;
    top: 100%;
    left: 36%;
    position: absolute;
    background-color: coral;
}

.triClasses2{
    content: "";
    clip-path: polygon(0 0, 50% 100%, 100% 0);
    width: 30px;
    height: 30px;
    top: 100%;
    left: 1500%;
    position: absolute;
    background-color: coral;
}

.information{
    display: flex;
    position: relative;
    margin-left: 10%;
    margin-right: 10%;
    font-weight: 700;
}

.infotext{
    margin-right: 10%;
}

.information img{
    margin-top: 120px;
    width: 500px;
}

.information h3{
    margin-top: 80px;
    font-size: 40px;
}

.information span{
    display: flex;
    flex-direction: column;
}

@media only screen and (max-width:1015px) {
    .information{
        margin-left: 5%;
        margin-right: 5%;
    }

    .activebuttons{
        margin-left: 5%;
        display: flex;
        flex-direction: column;
    }

    .downbuttons{
        margin-top: 50px;
    }
}

@media only screen and (max-width:1100px) {
    .information{
        display: flex;
        flex-direction: column;
        margin-left: 30px;
        margin-right: 0px;
    }

    .infotext{
        margin-right: 0;
    }
}
/*---------------------- INFO TAB ENDS ---------------------------------*/
/*---------------------- BMI TAB START ---------------------------------*/

.BMIdiv{
    margin-left: 15%;
    margin-right: 15%;
    margin-top: 8%;
    display: flex;
}

.BMItext h2{
    color: var(--myblue);
    font-weight: 700;
}

.BMIimg{
    position: relative;
}

.BMIinput{
    display: flex;
}

.BMIinput p{
    margin: 5px 5px;
}

#BMIbtn{
    padding-right: 5px;
    white-space: nowrap;
}

.triBMI{
    content: "";
    clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
    width: 50px;
    height: 50px;
    top: 99%;
    left: 13%;
    position: absolute;
    background-color: #87b1d9;
}

@media only screen and (max-width:600px) {
    .BMIdiv{
        display: flex;
        flex-direction: column;
        margin-left: 10px;
        margin-right: 10px;
    }

    .BMItext h2{
        text-align: center;
        font-size: 70px;
    }

    .infotext h3{
        font-size: 60px;
        font-weight: 800;
    }

    .BMItext p{
        font-size: 25px;
    }

    .BMIinput{
        margin-left: 5px;
        margin-right: 5px;
    }

    .BMIinput p{
        font-size: 15px;
    }

    .BMIimg{
        margin-top: 5%;
    }
}

/*---------------------- BMI TAB END ---------------------------------*/
/*---------------------- TRAINER TAB START ---------------------------------*/

.trainers{
    text-align: center;
    padding-top: 100px;
    margin-top: 100px;
}

.trainers h2{
    color: var(--myblue);
    font-weight: 700;
    font-size: 40px;
}

.rodtrainer{
    background-color: coral;
    font-size: 7px;
    padding: 1px 60px;
    border-radius: 10px;
}

.rodtexttrainer{
    margin: 60px 500px;
    font-size: 20px;
}

.trainerimg{
    display: flex;
    margin-left: 15%;
}

.tr{
    padding-left: 5%;
    margin-bottom: 40px;
}

.trimg{
    border-radius: 15px;
    border-color: coral;
    border-style: solid;
}

#tr1{
    position: relative;
}

.tr1vert{
    content: "";
    width: 330px;
    height: 50px;
    top: 40%;
    left: 18%;
    position: absolute;
    z-index: -1;
    background-color: var(--myblue);
    transition: 0.2s all linear;
}

.tr1hor{
    position: absolute;
    content: "";
    width: 50px;
    height: 380px;
    top: -3%;
    left: 53%;
    z-index: -1;
    background-color: var(--myblue);
    transition: 0.2s all linear;
}

.tr1label{
    content: "";
    width: 200px;
    height: 80px;
    top: 60%;
    left: 35%;
    position: absolute;
    background-color: var(--myblue);
    transition: 0.2s all linear;
    opacity: 0;
}

#tr1:hover .tr1vert{
    height: 100px;
    top: 30%;
}

#tr1:hover .tr1hor{
    width: 100px;
    left: 48%;
}

#tr1:hover .tr1label{
    opacity: 1;
}

#tr2{
    position: relative;
}

.tr2vert{
    content: "";
    width: 330px;
    height: 50px;
    top: 40%;
    left: 18%;
    position: absolute;
    z-index: -1;
    background-color: var(--myblue);
    transition: 0.2s all linear;
}

.tr2hor{
    position: absolute;
    content: "";
    width: 50px;
    height: 380px;
    top: -3%;
    left: 53%;
    z-index: -1;
    background-color: var(--myblue);
    transition: 0.2s all linear;
}

.tr2label{
    content: "";
    width: 200px;
    height: 80px;
    top: 60%;
    left: 35%;
    position: absolute;
    background-color: var(--myblue);
    transition: 0.2s all linear;
    opacity: 0;
}

#tr2:hover .tr2vert{
    height: 100px;
    top: 30%;
}

#tr2:hover .tr2hor{
    width: 100px;
    left: 48%;
}

#tr2:hover .tr2label{
    opacity: 1;
}

#tr3{
    position: relative;
}

.tr3vert{
    content: "";
    width: 330px;
    height: 50px;
    top: 40%;
    left: 18%;
    position: absolute;
    z-index: -1;
    background-color: var(--myblue);
    transition: 0.2s all linear;
}

.tr3hor{
    position: absolute;
    content: "";
    width: 50px;
    height: 380px;
    top: -3%;
    left: 53%;
    z-index: -1;
    background-color: var(--myblue);
    transition: 0.2s all linear;
}

.tr3label{
    content: "";
    width: 200px;
    height: 80px;
    top: 60%;
    left: 35%;
    position: absolute;
    background-color: var(--myblue);
    transition: 0.2s all linear;
    opacity: 0;
}

#tr3:hover .tr3vert{
    height: 100px;
    top: 30%;
}

#tr3:hover .tr3hor{
    width: 100px;
    left: 48%;
}

#tr3:hover .tr3label{
    opacity: 1;
}

@media only screen and (max-width:900px) {
    .trainerimg{
        display: flex;
        flex-direction: column;
        margin: 10px 20px;
    }
    .rodtexttrainer{
        margin: 60px 100px;
    }

    .tr1label p{
        font-size: 20px;
    }

    .tr1vert{
        left: 22%;
    }

    .tr1hor{
        left: 48%;
    }

    #tr1:hover .tr1hor{
        left: 45%;
    }

    .tr2label p{
        font-size: 20px;
    }

    .tr2vert{
        left: 22%;
    }

    .tr2hor{
        left: 48%;
    }

    #tr2:hover .tr2hor{
        left: 45%;
    }

    .tr3label p{
        font-size: 20px;
    }

    .tr3vert{
        left: 22%;
    }

    .tr3hor{
        left: 48%;
    }

    #tr3:hover .tr3hor{
        left: 45%;
    }
}

/*---------------------- TRAINER TAB END ---------------------------------*/
/*---------------------- PURCHASE TAB START ---------------------------------*/

.purchase{
    text-align: center;
}

.purchase h2{
    color: var(--myblue);
    font-weight: 700;
    font-size: 40px;
    margin-top: 100px;
}

.rodpurchase{
    background-color: coral;
    font-size: 7px;
    padding: 1px 60px;
    border-radius: 10px;
}

.rodtextpurchase{
    margin: 60px 500px;
    font-size: 20px;
}

.items{
    box-shadow: 10px 0px 30px #4b4b4b;
    border-radius: 20px;
}

.purchasep span{
    text-decoration-line: line-through;
}

.items img{
    width: 100%;
    border-radius: 10px;
}

.purchasep{
    display: flex;
    padding-left: 100px;
}

.purchasecart img{
    width: 30px;
    padding-right: 10px;
}

@media only screen and (max-width:700px) {
    .rodtextpurchase{
        margin: 60px 100px;
    }

    .items{
        margin: 10px 50px;
    }

    .purchasecart img{
        width: 50px;
        padding-left: 10px;
    }
}
/*---------------------- PURCHASE TAB END ---------------------------------*/
/*---------------------- REVIEW TAB STARTS ---------------------------------*/

.review{
    margin: 0 20%;
    text-align: center;
}

.review h2{
    color: var(--myblue);
    font-weight: 700;
    font-size: 40px;
    margin-top: 100px;
    position: relative;
}

.rodreview{
    background-color: coral;
    font-size: 7px;
    padding: 1px 60px;
    border-radius: 10px;
}

.rodtextreview{
    margin: 60px 100px;
    font-size: 20px;
}

.client{
    display: flex;
    text-align: left;
}

.clientdata{
    display: flex;
    margin-bottom: 10px;
}

.clientdata img{
    border-radius: 50px;
    margin-right: 30px;
}

.client1{
    margin-right: 100px;
}

.clientboard{
    background-color: var(--myblue);
    padding: 10px 10px;
    color: aliceblue;
    position: relative;
}

.client1trileft{
    content: "";
    clip-path: polygon(0 0, 100% 100%, 100% 0);
    width: 30px;
    height: 30px;
    top: 100%;
    left: 0%;
    position: absolute;
    background-color: #7b97bc;
}

.client1triright{
    content: "";
    clip-path: polygon(0 0, 0 100%, 100% 0);
    width: 30px;
    height: 30px;
    top: 100%;
    left: 94%;
    position: absolute;
    background-color: #7b97bc;
}

.client2trileft{
    content: "";
    clip-path: polygon(0 0, 100% 100%, 100% 0);
    width: 30px;
    height: 30px;
    top: 100%;
    left: 0%;
    position: absolute;
    background-color: #7b97bc;
}

.client2triright{
    content: "";
    clip-path: polygon(0 0, 0 100%, 100% 0);
    width: 30px;
    height: 30px;
    top: 100%;
    left: 94%;
    position: absolute;
    background-color: #7b97bc;
}

@media only screen and (max-width:700px) {
    .review{
        margin: 0 5px;
    }
    .rodtextreview{
        margin: 60px 100px;
    }
    .client{
        flex-direction: column;
    }
    .client1{
        margin: 0 10px;
    }
    .client2{
        margin: 60px 10px;
    }
}

/*---------------------- REVIEW TAB END ---------------------------------*/
/*---------------------- CONTACT TAB START ---------------------------------*/

.contactus{
    margin: 5% 20%;
    font-weight: 600;
}

.contacthead{
    text-align: center;
}

.contactus h6{
    font-size: 20px;
}

.contactus h2{
    color: var(--myblue);
    font-weight: 700;
    font-size: 40px;
    margin-top: 100px;
    position: relative;
}

.rodcontact{
    background-color: coral;
    font-size: 7px;
    padding: 1px 60px;
    border-radius: 10px;
}

.rodtextcontact{
    margin: 60px 100px;
    font-size: 20px;
}

.appoinment{
    display: flex;
    margin: 0 30px;
}

.appoinmentinput{
    display: flex;
    flex-direction: column;
}

.contacttitle{
    display: flex;
    white-space: nowrap;
}

.contactmail{
    margin: 0 15px;
    padding-right: 15px;
}

.contactdata{
    margin: 0 5%;
}

.appoinmentinput input{
    background-color: #f0f8ff;
    border: none;
    padding: 10px 200px 10px 10px;
    margin: 10px 0;
}

#mapdown{
    display: none;
}

#message{
    padding-bottom: 100px;
}

@media only screen and (max-width:800px) {
    .contactus{
        margin: 0 5px;
        display: flex;
        flex-direction: column;
    }

    .contacttitle p{
        font-size: 20px;
    }

    .rodtextcontact{
        margin: 60px 100px;
    }

    #mapright{
        display: none;
    }

    #mapdown{
        display: block;
    }
}

/*---------------------- CONTACT TAB END ---------------------------------*/
/*---------------------- FOOTER TAB START ---------------------------------*/
.footsec{
    background-color: var(--myblue);
}

footer{
    margin: 0 20%;
    color:aliceblue;
}

.foot{
    display: flex;
    margin: 0 30%;
}

.feet{
    margin-right: 20%;
}

.feet ul{
    list-style: none;
    margin-top: 15px;
}

.feet a{
    text-decoration: none;
    color: aliceblue;
    
}

@media only screen and (max-width:600px) {
    footer{
        margin: 0 5px;
        font-size: 20px;
    }
}
/*---------------------- FOOTER TAB END ---------------------------------*/